Repository hasura/axiom, changes with the owners that .github/CODEOWNERS names for each.
All owners: @praveenweb, @shukla2112, @srinigsan, @rsunnyhasura, @briantwalter, @yashv19, @julian-mayorga, @tirumaraiselvan, @sandalsoft, @typhonius, @robertjdominguez

added evalset csv
  demos/aml/financial_compliance_eval_set_csv.csv
Owners: @sandalsoft

Update promptql-config.hml
  demos/cpg/globals/metadata/promptql-config.hml
Owners: @srinigsan, @rsunnyhasura

Update promptql-config.hml (#213)
  demos/cpg/globals/metadata/promptql-config.hml
Owners: @srinigsan, @rsunnyhasura

Use inventory hostname for non demo servers
  infra/ansible/playbooks/defaults.yml
Owners: none

Srini - Updated the CPG prompt to change Q1 to Feb - Apr for Mike H
  demos/C360-fashion-retail/globals/metadata/promptql-config.hml
  demos/cpg/globals/metadata/promptql-config.hml
Owners: @srinigsan, @rsunnyhasura

Updated data for social media, influencer and style simila rity matches
  .data/c360-retail-fashion/generate_complete_dataset.py
  .data/c360-retail-fashion/postgres/social_mentions.csv
  .data/c360-retail-fashion/postgres/style_similarity_matches.csv
  populate_style_similarity_matches.sql
  populate_style_similarity_matches_fixed.sql
Owners: none

Added system instructions
  demos/C360-fashion-retail/globals/metadata/promptql-config.hml
Owners: none

Initial commit for C360 fashion retail demo project
  .data/c360-retail-fashion/README_data_generation.md
  .data/c360-retail-fashion/generate_realistic_data_v2.py
  .data/c360-retail-fashion/postgres/brands.csv
  .data/c360-retail-fashion/postgres/campaign_responses.csv
  .data/c360-retail-fashion/postgres/campaigns.csv
  .data/c360-retail-fashion/postgres/categories.csv
  .data/c360-retail-fashion/postgres/customer_addresses.csv
  .data/c360-retail-fashion/postgres/customer_service_interactions.csv
  .data/c360-retail-fashion/postgres/customers.csv
  .data/c360-retail-fashion/postgres/email_engagement.csv
  .data/c360-retail-fashion/postgres/fk_implementation_progress.csv
  .data/c360-retail-fashion/postgres/loyalty_activities.csv
  .data/c360-retail-fashion/postgres/loyalty_profiles.csv
  .data/c360-retail-fashion/postgres/order_items.csv
  .data/c360-retail-fashion/postgres/orders.csv
  .data/c360-retail-fashion/postgres/product_variants.csv
  .data/c360-retail-fashion/postgres/products.csv
  .data/c360-retail-fashion/postgres/return_items.csv
  .data/c360-retail-fashion/postgres/returns.csv
  .data/c360-retail-fashion/postgres/session_summary.csv
  .data/c360-retail-fashion/postgres/social_mentions.csv
  .data/c360-retail-fashion/postgres/staging_customer_sessions.csv
  .data/c360-retail-fashion/postgres/staging_order_items_simple.csv
  .data/c360-retail-fashion/postgres/website_sessions.csv
  .data/c360-retail-fashion/requirements.txt
  .data/c360-retail-fashion/schema_alignment_and_load_v3.sql
Owners: none

.github/CODEOWNERS:

# Global owners for the entire repo
<!-- * @dsandip @typhonius @robertjdominguez -->

# Demo-specific owners
demos/telco/ @praveenweb @shukla2112
demos/cpg/ @srinigsan @rsunnyhasura
demos/supplychain/ @briantwalter
demos/diligence/ @yashv19
demos/gtm/ @julian-mayorga
demos/healthcare/ @rsunnyhasura @tirumaraiselvan
demos/aml/ @sandalsoft

# Workflow files require admin approval
@dsandip @typhonius @robertjdominguez
